.text-yellow{
    color: #FFB200;
}
.link-hover{
    position: relative;
    &-arrow {
        content: "";
        width: 6px;
        height: 10px;
        background: url(/bbc/common/img/top/arrow-link.png) no-repeat;
        background-size: 100%;
        display: inline-block;
        margin-left: 10px;
    }
    &::before{
        content: "";
        display: block;
        height: 4px;
        position: absolute;
        left: 0;
        right: 100%;
        bottom: -10px;
        background: #FFB200;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    &::after {
        content: "";
        display: block;
        height: 4px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px;
        background: #FFB200;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
    }
    &:hover{
        color: #000000;
        &::before{
            right: 0;
        }
        &::after{
            left: 100%;
        }
    }
}
#header{
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    z-index: 500;
    background: #fff;
}
.headerInner{
    max-width: 930px;
    margin: 0 auto;
}
#logo{
    img{
        height: 70px;
    }
}
.gNavi{
    li + li{
        margin-left: 35px;
    }
}
.main{
    padding-top: 85px;
}
#slider{
    border-bottom: 4px solid #FFB200;
    .slick-slide{
        z-index: 1 !important;
        img{
            width: 100%;
        }
        .text{
            overflow: hidden;
            position: absolute;
            top: 40%;
            transform: translateY(-40%);
            color: #fff;
            width: 100%;
            text-align: center;
            z-index: 2;
            .largeText{
                font-size: 4.5vw;
                position: relative;
                margin-bottom: 20px;
                line-height: 1.33;
                font-weight: 600;
                font-family: 'Bai Jamjuree', sans-serif;
                text-shadow: 1px 1px 1px rgba(7, 7, 7, 0.3);
            }
            .linkText{
                z-index: 2;
                color: #ffffff;
                display: block;
                &-arrow{
                    content: "";
                    vertical-align: middle;
                    display: inline-block;
                    width: 46px;
                    height: 46px;
                    background: url(/bbc/common/img/top/arrow-circle.png);
                    background-size: 100%;
                }
                &-text{
                    margin-left: 15px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        &::after{
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: .5)
        }
        
    }
    .slick-prev, .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        z-index: 1;
    }
    .slick-prev{
        left: 35px;
        &::before{
            content: "";
            display: block;
            background-image: url(/bbc/common/img/top/arrow-left.png);
            width: 18px;
            height: 34px;
            background-size: 100%;
        }
    }
    .slick-next{
        right: 35px;
        &::before{
            content: "";
            display: block;
            background-image: url(/bbc/common/img/top/arrow-right.png);
            width: 18px;
            height: 34px;
            background-size: 100%;
        }
    }
    .slick-dots{
        position: absolute;
        bottom: 25px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        z-index: 2;
        li {
            position: relative;
            display: inline-block;
            margin: 0 8px;
            padding: 0;
            cursor: pointer;
            vertical-align: middle;
            button{
                font-size: 0;
                line-height: 0;
                display: block;
                width: 6px;
                height: 6px;
                padding: 0px;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: none;
                background: #ffffff;
                opacity: .5;
                border-radius: 50%;
            }
            &.slick-active{
                transform: scale(2);
                button{
                    opacity: 1;
                }
            }
        }
    }
}
.products{
    height: 886px;
    width: 100%;
    padding-top: 175px;
    display: block;
    background: #f5f5f5 url(/bbc/common/img/top/products-bg.png) no-repeat;
    background-position: top right;
    &-header{
        h2{
            font-weight: bold;
            .text-large{
                font-size: 40px;
            }
        }
    }
    .products-list{
        margin-top: 45px;
    }
    .product-box{
        width: 350px;
        height: 450px;
        background: #ffffff;
        a{
            display: block;
            padding: 50px 30px 40px;
            position: relative;
            h3{
                font-size: 20px;
                color: #000000;
                font-weight: bold;
                margin-top: 15px;
            }
            p{
                margin-top: 10px;
            }
            &::after{
                content: "";
                display: block;
                height: 4px;
                width: 0;
                background: #FFB200;
                position: absolute;
                left: 0;
                bottom: 0;
                -webkit-transition: 0.3s all;
                transition: 0.3s all;
            }
            &:hover{
                color: #000000;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                &::after{
                    width: 100%;
                }
            }
        }
    }
}
.construction{
    &-header{
        width: 100%;
        height: 300px;
        background: url(/bbc/common/img/top/construction-header.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        position: relative;
        text-align: center;
        .text {
            position: relative;
            top: 50%;
            z-index: 2;
            p{
                letter-spacing: 2px;
                font-weight: 600;
            }
            h1{
                color: #ffffff;
                font-size: 40px;
                font-weight: 600;
                margin-top: 15px;
            }
        }
    }
    &-group{
        width: 50%;
        img{
            display: block;
            transition: all .6s ease-in-out;
        }
        &-child{
            a{
                width: 50%;
            }
        }
        .contents{
            position: absolute;
            top: 50%;
            text-align: center;
            transform: translateY(-50%);
            width: 100%;
            opacity: 0;
            transition: all .4s ease-in;
            z-index: 2;
            h2{
                color: #ffffff;
                font-weight: 600;
                font-size: 32px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            img{
                display: inline-block;
                margin-top: 20px;
            }
            &-s{
                h2{
                    font-size: 16px;
                }
                img{
                    width: 28px;
                    margin-top: 10px;
                }
            }
        }
        a{
            position: relative;
            display: block;
            overflow: hidden;
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #FFB200;
                opacity: 0;
                z-index: 1;
                transition: all .2s ease-in-out;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                }
                .contents{
                   opacity: 1;
                }
                &::after{
                    opacity: .7;
                }
            }
        }
    }
}
.introduction{
    width: 100%;
    height: 35vw;
    background: url(/bbc/common/img/top/introduction-bg.jpg);
    background-size: cover;
    position: relative;
    &-inner{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .title{
        h2{
            font-size: 28px;
            color: #000000;
            font-weight: bold;
            margin-top: 15px;
        }
        p{
            font-weight: bold;
            letter-spacing: 2px;
        }
        .link-hover{
            top: 50px;
        }
    }
    .text{
        width: 600px;
        margin-left: 50px;
        color: #666666;
        font-family: 'Bai Jamjuree Light', sans-serif;
    }
}
.news{
    &-title{
        text-align: center;
        padding-top: 105px;
        padding-bottom: 75px;
        font-weight: bold;
        p{
            letter-spacing: 2px;
        }
        h1{
            font-size: 40px;
            font-weight: bold;
        }
    }
    &-box{
        width: 350px;
        a{
            .thumbnail{
                position: relative;
                overflow: hidden;
                height: 250px;
                .cover{
                    transition: all .6s ease-in-out;
                }
                .icon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    opacity: 0;
                    transition: all .4s ease-in-out;
                    z-index: 2;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #FFB200;
                    opacity: 0;
                    z-index: 1;
                    transition: all .2s ease-in-out;
                }
            }
            .date{
                color: #666666;
                margin-top: 10px;
            }
            .title{
                color: #000000;
                font-weight: 600;
                font-size: 16px;
                margin-top: 5px;
            }
            &:hover{
                .date{
                    color: #666666;
                }
                .title{
                    color: #000000;
                }
                .thumbnail{
                    .cover{
                        transform: scale(1.05);
                    }
                    .icon{
                        opacity: 1;
                    }
                    &::after {
                        opacity: .7;
                    }
                }
            }
        }
    }
    &-more{
        margin: 80px 0;
        text-align: center;
    }
}